* {
	margin: 0;
}

html {
	background-color: #FFFBED;
}

.contaner {
	max-width: 1366px;
	margin: 0 auto;
}

.header__menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	background: no-repeat center url('images/bg-1.png');
}

.header__menu-item-one {
	display: flex;
	align-items: center;
}

.header__menu-item-two {
	display: flex;
	align-items: center;
}

.header__btn {
	border: 1px solid gray;
	border-radius: 2px;
	padding: 14px 30px;
}
 
.header__logo {
	width: 98px;
	height: 86px;
}

.header__menu-item-one div{
	margin-right: 40px;
}

.header__menu-item-two div{
	margin-right: 40px;
}

.header__menu-item-one:last-child{
	margin-right: 0px;
}
 
.header__menu-item-two:first-child{
	margin-right: 80px;
}


.header-join__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 887px;
	height: 617px;
	margin: 0 auto;
}

.header-join__container-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-join__btn {
	border: 1px solid gray;
	border-radius: 2px;
	padding: 14px 30px;
}

.section-form {
	background: no-repeat center url('images/bg-3.jpg');
}

.section-form__main{
	width: 1140px;
	height: 701px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background: no-repeat left bottom url('images/bg-2.png');
	background-color: #FFFBED;
	gap: 80px;
	padding: 40px;
}

.section-form__description {
	display: flex;
	flex-direction: column;
	/*justify-content: center;
	align-items: center;*/
	width: 580px;
	height: 274px;
}

.section-footer {
	background-color: #372E11;
	color: #FFFBED;
	
}

.section-footer__columns{
	display: flex;
	justify-content: space-between;
}

.section-footer__item{
	display: flex;
	flex-direction: column;
}


