*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

html {
  background-color: #FFFBED;
  font-family: 'Raleway';
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
}

.contaner {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: no-repeat center url('/images/bg-1.png');
  position: relative;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu__item {
    display: flex;
    align-items: center;
  }

  &__btn {
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 14px 30px;
    background: transparent;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 16px;
  }

  &__logo {
    width: 98px;
    height: 86px;
  }

}

.header .container {
  position: relative;
}

.header__content {
  position: absolute;
  width: 100%;
}

.header__menu-links a {
  display: block;
  text-decoration: none;
  color: #372E11;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-button {
  display: none;
  border: 0;
  background: transparent;
}

.header-join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.header-join__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 877px;
  margin: 0 auto;
  margin-top: 120px;
}

.header-join__container-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-join__btn {
  border: 0;
  border-radius: 12px;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  &-buy {
    background: #FFE182;
  }

  &-sell {
    background: #EDEDED;

  }
}

.section-form {
  background: no-repeat center url('/images/bg-3.jpg');
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-form__main {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  background: no-repeat left bottom url('/images/bg-2.png');
  background-color: #FFFBED;
  gap: 80px;
  padding: 80px;
}


.section-form__title {
  font-family: Marmelad;
  font-size: 36px;
  margin-bottom: 40px;
}


.section-form__description {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.section-form__inputs {
  font-size: 14px;
  font-weight: 500;
}

.section-form__inputs__container>* {
  margin-bottom: 20px;
}

.section-form__inputs__container>*:last-child {
  margin-bottom: 0;
}

.section-form__inputs__container label {
  margin-bottom: 10px;
}

.section-form__input {
  background: #FFF8E1;
  border: 0px;
  padding: 16px;
  width: 320px;
  color: #8E825C;
}

.section-form__input-label {
  margin-bottom: 10px;
}

.section-form__button {
  margin-top: 20px;
  width: 100%;
}

.section-footer {
  background-color: #372E11;
  color: #FFFBED;
  padding-bottom: 80px;
  padding-top: 80px;
}

.btn-primary {
  border: 0;
  border-radius: 12px;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 600px;
  background: #FFE182;
  cursor: pointer;
}

.btn-footer {
  text-align: center;
}

.btn-footer img {
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
}

.section-footer__columns {
  display: flex;
  justify-content: space-between;
}

.section-footer__item {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.section-footer__item>div {
  margin-bottom: 16px;
}

.section-footer__item-title {
  margin-bottom: 24px;
  font-family: Marmelad;
  font-size: 24px;
}

.section-footer__phone-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.section-footer__item-adresses {
  display: flex;
  gap: 40px;
  line-height: 21px;
  font-size: 18px;
  font-weight: 500;
}

.header__telephone {
  font-family: Roboto;
  margin-right: 40px;
}

.header__login {
  margin-right: 20px;
}

.header-join__title {
  font-family: Marmelad;
  font-size: 56px;
  margin-bottom: 40px;
}

.header__message {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
}

.header__menu-language {
  display: flex;
  color: #9B9B99;
  flex: 0;

  div {
    margin-right: 8px;
  }
}

@media (min-width: 768px) {
  .header__menu-language {
    display: none;
  }

  .section-footer__social-networks {
    display: block;
  }

  .section-footer__columns {
    margin: 24px;
  }
}

@media screen and (max-width: 840px) {
  .header__menu-links a {
    margin-right: 20px;
  }

}

@media (max-width: 1366px) {
  .header__menu {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }

  .header-join__container {
    height: auto;
    margin: 80px;
  }

  .header__menu-links {
    display: none;
  }

  .header__menu-language {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .header__btn {
    display: none;
  }

  .section-form {
    padding: 40px;
  }

  .section-form__main {
    flex-wrap: wrap;
    background-image: none;
    padding: 32px;
  }

  .section-form__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
  }

  .section-form__input {
    width: 100%;
  }

  .section-form__button {
    width: 100%;
    margin-top: 25px;
  }

  .section-form__inputs__container {
    justify-self: center;
    width: 50%;
  }

  .section-footer__columns {
    flex-wrap: wrap;
    margin: 24px;
  }

  .section-footer__item-adresses {
    flex-wrap: wrap;
  }

  .section-footer__item {
    width: 50%;
  }

  .section-footer__social-networks {
    order: 3;
  }

  .section-footer__item-adresses>div {
    width: 100%;
  }

  .header__menu-button {
    cursor: pointer;
    display: block;
  }

}

@media (max-width:560px) {
  .header {
    background-size: cover;
  }
  .header__logo {
    width: 48px;
    height: 42px;
  }

  .header__telephone {
    margin-right: 0;
    padding: 8px;
  }

  .header-join__title {
    font-size: 24px;
  }

  .header__message, .header-join__btn {
    font-size: 16px;
  }

  .header__login {
    display: none;
  }

  .header__menu__item {
    flex-grow: 1;
  }

  .section-form {
    background-size: cover;
  }

  .section-form__inputs {
    flex-wrap: wrap;
    gap: 40px;
  }

  .section-form__inputs__container {
    width: 100%;
  }

  .section-footer__item {
    width: 100%;
  }

  .section-footer__social-networks {
    order: 0;
  }

  .section-footer__columns {
    margin: 24px;
  }
  .btn-footer {
    width: 172px;
    font-size: 16px;
  }
}