* {
  margin: 0;
}

html {
  background-color: #FFFBED;
  font-family: 'Raleway';
  font-style: normal;
}

.contaner {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: no-repeat center url('/images/bg-1.png');

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu__item {
    display: flex;
    align-items: center;

    div {
      margin-right: 40px;
    }
  }

  &__btn {
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 14px 30px;
    background: transparent;
    cursor: pointer;
  }

  &__logo {
    width: 98px;
    height: 86px;
  }
}

.header-join__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 887px;
  height: 617px;
  margin: 0 auto;
}

.header-join__container-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-join__btn {
  border: 0;
  border-radius: 12px;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 600px;
  cursor: pointer;

  &-buy {
    background: #FFE182;
  }

  &-sell {
    background: #EDEDED;

  }
}

.section-form {
  background: no-repeat center url('/images/bg-3.jpg');
}

.section-form__main {
  width: 1140px;
  height: 701px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: no-repeat left bottom url('/images/bg-2.png');
  background-color: #FFFBED;
  gap: 80px;
  padding: 80px;
}


.section-form__title {
  font-family: Marmelad;
  font-size: 36px;
  margin-bottom: 40px;
}


.section-form__description {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
	align-items: center;*/
  height: 274px;
}

.section-form__inputs{
  flex-grow: 1;
  flex-shrink: 0;
}

.section-form__inputs > * {
  margin-bottom:20px;
}

.section-form__inputs > *:last-child {
  margin-bottom: 0;
}

.section-form__input{
  background: #FFF8E1;
  border: 0px;
  padding: 16px;
  width: 320px;
}

.section-footer {
	background-color: #372E11;
	color: #FFFBED;
}

.btn-primary {
  border: 0;
  border-radius: 12px;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 600px;
  background: #FFE182;
  cursor: pointer;
}

.btn-primary__footer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-footer__columns{
	display: flex;
	justify-content: space-between;
}

.section-footer__item{
	display: flex;
	flex-direction: column;
}

.section-footer__item-adress{
  display: flex;
}

.header__telephone{
  font-family: Roboto;
}

.header-join__title{
  font-family: Marmelad;
  font-size: 56px;
  margin-bottom: 40px;
}

.header__message {
  font-size: 26px;
  font-weight: 300
}